body {
    font-family: 'Quicksand', sans-serif;
    background-color: gainsboro;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

/* Navigation bar */

#nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: white;
    margin-left: 0;
    margin-top: -1.5em;
    padding: .5em .5em 0 .5em;
    font-family: 'Varela Round';
    font-size: .6em;
    filter: drop-shadow(0 0 3px darkgrey);
}

#reddit-icon {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    transform: translateY(13px);
}

h1 {
    padding-left: .8em;
    transform: translateY(5px);
}

#h1-logo:hover {
    color: black;
}

#logo {
    display: flex;
    flex-direction: row;
    width: 15em;
}

#logo:hover {
  cursor: pointer;
}

#nav-commands {
    width: calc(100% - 15em);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#not-logged-in {
    display: flex;
}

#logged-in {
    display: flex;
}

#loginNavButton {
    margin-left: 2em;
    color: gray;
}

#loginNavButton, #createNavButton, #exploreSubRedditsButton, #logoutNavButton {
    padding: 1em 1em 0 1em;
    color: gray;
}

#newSubNavButton {
    padding: 1em 6em 0 1em;
}

#loginNavButton:hover, #createNavButton:hover, #exploreSubRedditsButton:hover, #logoutNavButton:hover {
    cursor: pointer;
    color: black;
}

#newSubNavButton:hover {
    cursor: pointer;
    color: #f68d49;
}

/* Login */
/* #need-to-create-acct, #loginButton {
    font-family: 'Varela Round';
    font-size: .7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    padding: .5em 1.5em;
    background-color: coral;
    color: black;
    border: 0;
    border-radius: 4px;
} */

#login_failed {
    font-family: 'Varela Round';
    font-size: .7em;
}

.form {
    text-align: center;
}

/* Create a user */
/*
#user-login, #new-user {
    background-color:#f68d49;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 900px;
    height: 80%;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #f68d49;;
    border-radius:4px;
    filter: drop-shadow(-3px 4px 4px gray);
    position: absolute;
    z-index: 2;
} */


#user-login, #new-user {
    background-image: url('https://ps.w.org/wp-avatar/assets/icon-256x256.png?rev=1787902');
    /* background-size: cover;
    background-position: bottom; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 900px;
    height: 80%;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #f68d49;
    border-radius:4px;
    filter: drop-shadow(-3px 4px 4px gray);
    position: absolute;
    z-index: 2;
}

#login-header {
    font-family: 'Varela Round';
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

#white-triangle {
    color: coral;
}

#newUserTitleAndForm {
    margin-top: 2.5em;
    margin-bottom: 5em;
    background-color: white;
    padding: 1em;
    border: 1px solid black;
    border-radius: 8px;
}

#create-a-post-header {
    font-family: 'Varela Round';
    font-size: 1.4em;
    padding: 0;
    margin: 0 0 -1.2em 0;
}

.createUserForm, .loginForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
}

#createButton {
    font-family: 'Varela Round';
    font-size: .7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    padding: .5em 1.5em;
    background-color:whitesmoke;
    color: black;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 4px;
}

#createButton:hover {
    background-color: coral;
    color: white;
}

#matchingWarning {
    font-size: .8em;
    color: #C51700;
}

/* Create a post */

#new-post {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 400px;
    padding: 1em;
    margin: 0 auto 2em auto;
    border: 1px solid white;
    border-radius:4px;
    filter: drop-shadow(0 0 3px darkgrey);
}

h4 {
    font-family: 'Varela Round';
    padding: 0;
    margin-top: 0;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    margin-top: 0;
    padding: 0;
}

h6 {
    font-family: 'Quicksand', sans-serif;
    font-size: .6em;
    font-weight: lighter;
    color: rgb(189, 189, 189);
    margin-top: -1em;
}

#create-a-post {
    font-family: 'Varela Round';
    padding: 0;
    margin: 0 0 -1em 0;
}


input[type=text], input[type=password] {
    width: 173px;
    margin: .75em;
    font-family: 'Quicksand', sans-serif;
    font-size: .7em;
    border: 2px solid #eee;
    padding: .7em;
}

#title, #img_url {
    width: 361px;
}

textarea {
    width: 361px;
    font-family: 'Quicksand', sans-serif;
    font-size: .7em;
    border: 2px solid #eee;

    resize: vertical;
    min-height: 50px;
}

#create-post-button {
    font-family: 'Varela Round';
    font-size: .7em;
    padding: .5em 1.5em;
    background-color: #0379d3;
    color: whitesmoke;
    border: 0;
    border-radius: 4px;
}

#create-post-button:hover{
    cursor: pointer;
    background-color: #1282d8;
    color: whitesmoke;
}

#post-id {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius:4px;
}

#post-image-id {
    width: 50vw;
}

#post-id:hover {
    filter: drop-shadow(0 0 3px darkgrey);
    border: 1px solid grey;

}

/* Main body */

#flex-container {
  margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

}

/* Main Feed */

#mainFeed {
    display: flex;
    margin: 2em 2em 3em 2em;

    display: flex;
    flex-direction: column;

    z-index: 1;
}

/* Sidebar */

#sidebar {
    margin: 2em 0 1em 0;
}

.sidebar {
    padding: 1em;
    width: 25vw;
    background-color: whitesmoke;
    border-radius: 8px;
}

#popular-subreddits {
    /* padding: 1em; */
    width: 25vw;
    background-color: whitesmoke;
    border-radius: 8px;
}

#popular-subreddits-title {
    margin: 0 0 1em 0;
    padding-left: .25em;
}

#sidebar-title-1 {
    margin: -1em -1em 0 -1em;
    padding-top: 1.5em;
    /* background-image: url('https://media-exp1.licdn.com/dms/image/C511BAQE0NnIkjkotGA/company-background_10000/0/1541489744017?e=2159024400&v=beta&t=8CzJngJh5TrtF6_WFRYSlDeycAkT52hAfb4qLYGYnv8'); */
    background-color: rgb(189, 229, 245);
}

#sidebar-title-2 {
    margin: -1em -1em .0 -1em;
    padding-top: 1.5em;
    /* background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/4-many-starts-on-blue-dark-night-sky-as-a-cosmos-background-oleg-mayorov.jpg'); */
    background-color: rgb(3, 3, 36);
    color: rgb(245, 235, 182);
}

#unicorn {
    width: 10px;
}

#subreddit-name, #subreddit-created_by {
    padding: .25em;
    margin: 0;
}

#subreddit-name:hover {
    color: coral;
    cursor: pointer;
}

#ad-space {
    text-align: center;
    margin-top: 1em;
    /* padding-top: 1em; */
    width: 25vw;
}

#ad {
    width: 23vw;
}

#trending-users {
    margin-top: 1em;
    /* padding: 1em; */
    width: 25vw;
    background-color: whitesmoke;
    border-radius: 8px;
}

/* Explore Subreddits */
#explore-subreddits {
    margin: 2em 2em 3em 2em;
    padding: 1em;
    width: 50vw;
    background-color: whitesmoke;
    z-index: 1;
    border-radius: 8px;
}

#subreddit-description {
    color: rgb(63, 63, 63);
}

#loginTitleAndForm{
  margin-bottom: 5em;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  border-radius: 8px;
}

h2 {
  margin: 0;
}


.showSubContainer {
  margin: 2em 2em 3em 2em;
  width: 50vw;
  z-index: 1;
  border-radius: 8px;

}

.subredditInfo {
  background-color: white;
  padding: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.joinSub, .leaveSub {
  align-self: flex-end;
  background-color: #C51700;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: .5em 2em;
}

.joinSub:hover, .leaveSub:hover {
  filter: drop-shadow(0 0 3px grey);
}



.upAndDownVoteImage {
  width: 2.5em;
}

.upAndDownVoteImage:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2px grey);
}

.noVoting:hover {
  cursor: auto;
  filter: none;
}

.votesHolderDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}

.votesCounterNumber {
  margin: 0 .5em;
}


#createSubButton {
  font-family: 'Varela Round';
  font-size: .8em;
  margin: 1em 0;
  padding: .5em 1em;
  background-color: #C51700;
  color: white;
  border: 0;
  border-radius: 4px;
  align-self: flex-end;
  opacity: 0.5;
  pointer-events: none;
}

#createSubButton:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 2px grey);
}

#new-sub {
  margin: 2em 2em 3em 2em;
  padding: 2em 1em;
  width: 50vw;
  background-color: whitesmoke;
  z-index: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}


#create-a-sub {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.createSubForm {
  display: flex;
  flex-direction: column;
}

.createSubForm input[type=textarea], .createSubForm input[type=text], .createSubForm select {
  width: 173px;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: .7em;
  border: 2px solid #eee;
  padding: .7em;
}


.submitEditButton, .deletePostButton, .showEditButton {
  font-family: 'Varela Round';
  font-size: .8em;
  margin: .25em 0;
  padding: .5em 1em;
  background-color: #C51700;
  color: white;
  border: 0;
  border-radius: 20px;

  width: 10em;
}

.submitEditButton {
  margin-top: 1em;
}

.submitEditButton:hover, .deletePostButton:hover, .showEditButton:hover {
  filter: drop-shadow(0 0 2px grey);
}

.editPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
  background-color: lightgrey;
  padding: 2em;
}
.editPostForm textarea, .editPostForm input[type="text"]{
  max-width: 95%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: .7em;
  border: 2px solid #eee;
  padding: .7em;
}
.editPostForm textarea{
  height: 10em;

}

#myPostsOptions {
  margin-top: -4.5em;
}

.upAndDownVoteContainer {
  align-self: flex-end;
  width: 30%;
  margin-bottom: -.5em;
}


.postBody {
  margin-bottom: 4em;
}


.subredditIsPrivate {
display: flex;
flex-direction: row;
align-items: center;
  border-radius: 8px;
  background-color: coral;
  padding: 2em;
  margin: 0 auto;
  filter: drop-shadow(0 0 3px grey);
  text-align: center;
}


#warning-triangle {
  color: white;
  font-size: 4em;
  padding: .5em;
}
